html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #dfdce3;
}
.navigation{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-height: 12vh;
  width: 100%;
  background: #f7b733;
    background-attachment: fixed;
    background-origin: border-box;
}
.nav{
  padding: 10px;
  font-weight: 700;
  font-size: 30px;
  color: #f2f1f4;
  align-self: center;

  /* position: relative; */
}
.logo{
  font-size: 50px;
  color: #f2f1f4;
  padding: 10px;
  float:left;
  position: relative;
  align-self: center;
  justify-content: space-between;
}

.footer{
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.location-form {

}
#map {
  height: 100%;
}

#floating-panel {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #FC4A1A;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Raleway','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
h1 {
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: : #FFFFFF;
}

p{
  font-size: 25px;
}

pre {
  font-family: "Raleway", sans-serif;
}

a:link {
  color: #f2f1f4;
}

a:hover, a:visited{
  color: black;
}

li {
}

